
@{
    ViewBag.Title = "Success";
}

<h2 class="text-center">Welcome,You are Successfully logged  in</h2>
<div class="form-group">
    <div class="col-md-offset-2 col-md-12">
        <input type="submit" value="Success" class="btn btn-Display btn-lg btn-block" />

    </div>
</div>
<td>
    @Html.ActionLink("Display", "Display", "Account")
</td>

